{% extends "base.html" %}

{% block main_body %}
<div>
    <div>
            <div class="rank-info">
                <h2 class="current-rank">Current Rank : <span id="rank-display">Loading...</span></h2>
                <h2 class="hot-streak">Hot Streak : <span style="text-align: right;" id="hot-streak"> Loading</span></h2>
                </div>
                </div>
                <div>
                <marquee behavior="scroll" direction="right" scrollamount="8" scrolldelay="60">
                    <p>🎉 Todays Play of the Game! 🎉</p> </marquee>
            </div>
        <div class="video-container">
    </div>
</div>
{% endblock %}