{% extends "base.html" %}
{% block main_body %}
  <button onclick="openModal()">Upload Play of the Day</button>

    <div class="modal" id="modal" onclick="closeModalOnOverlay(event)">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <form action="clips/uploadfile/" method="post" enctype="multipart/for   m-data">
                <h1>Upload Your Play of the Day!</h1>
                <label for="player">Player:</label>
                <select id="player" name="player">
                <option value="Meowcel">Meowcel</option>
                <option value="Savage John">Savage John</option>
                <option value="Larry Longstride">Larry Longstride</option>
                <option value="Kid Balls Pro">Kid Balls Pro</option>
                <option value="Attenion U Pigs">Attenion U Pigs</option>
                </select> 
                <label for="file">Upload your file:</label>
                <input type="file" name="file" id="file" required>
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>
    <script>

    </script>

            <div class="rank-info">
                <h2 class="current-rank">Current Rank : <span id="rank-display">Loading...</span></h2>
                <h2 class="hot-streak">Hot Streak : <span style="text-align: right;" id="hot-streak"> Loading</span></h2>
                
                </div>
                </div>
                <div>
                <marquee behavior="scroll" direction="right" scrollamount="8" scrolldelay="60">
                    <p>🎉 Todays Play of the Game! 🎉</p> </marquee>
            </div>
        <div class="video-container">
    </div>
</div>
{% endblock %}
